{% load static %}
<link rel="stylesheet" href="{% static 'css/all.min.css'%}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}" />
<link rel="stylesheet" href="{% static 'css/model2.css'%}" />
{% block content %}
<section class="container">
  <div class="select1">
    <form>
      <label for="select" class="label1">Mode:</label>
      <select class="selectmode">
        <option selected>summary</option>
        <option value="1">summary</option>
        <option value="2">summary</option>
        <option value="3">summary</option>
      </select>
    </form>
  </div>
  <div class="select2">
    <form>
      <label for="select2" class="label2">Language:</label>
      <select class="selectmode2">
        <option selected>Detected</option>
        <option value="1">Detected</option>
        <option value="2">Detected</option>
        <option value="3">Detected</option>
      </select>
    </form>
  </div>
  <div class="container3">
    <div class="row">
      <div class="col-6 write">
        <label for="text" class="form-label label2">Original:</label>
        <textarea
          class="originaltext"
          placeholder="Begin typing or paste text here."
        ></textarea>
      </div>
      <div class="col-6 Paraphrased">
        <h4>Paraphrased:</h4>
      </div>
    </div>
  </div>
  <div class="sectioncount">
    <div class="row">
      <div class="col-sm divcont">
        <button type="button" class="Paraphrasedbtn">Paraphrase</button>
        <p>0/3000 characters</p>
      </div>
      <div class="col-sm charactersdiv">
        <p>0 characters</p>
      </div>
    </div>
  </div>
</section>
<!--end selection-->
<!-- links -->
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js.map' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
